.list {
  font-size: 18px;
  margin: 0 auto;
  width:50%;
}
.accordion-item {
  padding: 10px 20px;
  cursor: pointer;
  border-bottom: 2px solid red;
  max-height: 10px;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}
.accordion-item:hover {
  background: #dcdcdc;
}
.accordion-item .body {
  text-align: center;
} 
.active {
  max-height: 100px;
  overflow: auto;
}
